In [1]:
import pyTigerGraph as tg

In [2]:
conn = tg.TigerGraphConnection(host="https://mytg.i.tgcloud.io", password="pass123")

In [3]:
print(conn.gsql('''
  CREATE VERTEX inc(PRIMARY_ID id STRING, column1 STRING, column2 STRING, column3 STRING, column4 STRING) WITH primary_id_as_attribute="true"
''', options=[]))

Successfully created vertex types: [inc].

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('ref.csv', sep=';' , names =['id','column1','column2','column3','column4','column5'])

In [6]:
df

    id column1 column2 column3 column4 column5
0    1      a1     bbb     ccc      dd     eee
1    2      a2     bbb     ccc      dd     eee
2    3      a3     bbb     ccc      dd     eee
3    4      a1     bbb     ccc      dd     eee
4    5      a2     bbb     ccc      dd     eee
5    6      a3     bbb     ccc      dd     eee
6    7      a1     bbb     ccc      dd     eee
7    8      a2     bbb     ccc      dd     eee
8    9      a3     bbb     ccc      dd     eee
9   10      a1     bbb     ccc      dd     eee
10  11      a2     bbb     ccc      dd     eee
11  12      a3     bbb     ccc      dd     eee

In [7]:
print(conn.gsql('''CREATE GRAPH Inc(inc)''', options=[]))

The graph Inc is created.